body, html {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: sans-serif;
  font-style: italic;
  font-weight: 900;
  overflow: hidden;
}

.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
